<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename = 'assets/css/tabler.min.css')}}" />
<title>Stock App</title>
<script src="{{url_for('static', filename = 'assets/js/vendors/jquery-3.2.1.min.js')}}"></script>